html, body{
    height: 100%;
}
html{
    font-size: calc(100vw / 1920 * 10);
}
body{
    font-size: 1.6rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
:root{
   --gray: #fefefe;
   --white: #fff;
   --yellow: #E7CE79;
   --black: #282525;
   --bg: #17171A;
}
@font-face {
    font-family: 'Montserrat';
    src: url('../font/Montserrat-Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.main{
    flex: 1 1 auto;
}
.hamburger{
    display: none;
}
.container{
    width: 152rem;
    max-width: 100%;
    margin: auto;
}
.header{
    position: absolute;
    z-index: 111111;
    top: 0;
    left: 0;
    right: 0;
    /* display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr; */
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    align-items: center;
}
.header-menu{
    display: flex;
    gap: 25.7rem;
    align-items: center;
}
.logo{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.logo p{
    font-size: 2.4rem;
    color: var(--yellow);
    flex: 0 0 auto;
}
.nav{
    flex: 1;
    text-align: center;
}
.nav-list{
    display: flex;
    gap: 10rem;
    justify-content: center;
}
.nav-list__link{
    font-weight: 600;
    color: var(--gray);
}
.nav-list__link.active{
    padding-bottom: 1.1rem;
    border-bottom: 0.1rem solid var(--gray);
}
.header-info{
    display: flex;
    gap: 2rem;
    flex: 0 0 auto;
}
.header-info__tel a{
    color: var(--yellow);
    text-shadow: 0rem 0rem 6.5rem rgba(255, 255, 255, 0.55);
    font-weight: 600;
}
.header-info__tel p{
    font-size: 1.4rem;
    font-weight: 300;
    color: var(--gray);
}
.header-info__social{
    display: flex;
    gap: 2rem;
}
.cart-btn, .favor-btn{
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--yellow);
    border-radius: 50%;
    filter: drop-shadow(0rem 0rem 2.5rem rgba(231, 206, 121, 0.25));
}
.cart-btn img, .favor-btn img{
    width: 2rem;
    height: 2rem;
}

/* main  start*/

.main-section{
    min-height: 110vh;
    position: relative;
    background-color: var(--bg);
    overflow: hidden;
}
.cloud-one{
    position: absolute;
    top: 0rem;
    left: 0rem;
}
.line-one{
    position: absolute;
    left: 0rem;
    bottom: 5.5rem;
}
.cloud-main{
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    z-index: 0;
    width:  146.9rem;
    height: 94.8rem;
}
.main-section__info{
    padding-top: 29.5rem;
    padding-left: 8rem;
    max-width: 81rem;
    position: relative;
    z-index: 111;
}
.main-suptitle{
    text-transform: uppercase;
    font-weight: 300;
    color: var(--white);
    opacity: 0.5;
    margin-bottom: 1.5rem;
}
.main-title{
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--white);
    position: relative;
}
.main-title span{
    display: block;
    font-size: 6.4rem;
}
.main-title::before{
    content: '';
    position: absolute;
    width: 36.7rem;
    height: 0.2rem;
    background-color: var(--white);
    top: 6.3rem;
    right: 0;
}
.main-title::after{
    content: 'и';
    position: absolute;
    top: 7rem;
    left: -12rem;
    -webkit-text-stroke: 0.1rem var(--white); 
    color: transparent;
    font-size: 12.8rem;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}
.main-btn{
    padding: 2.5rem 3rem;
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    border: 0.1rem solid var(--white);
    color: var(--white);
    cursor: pointer;
}
.main-btn span{
    font-weight: 700;
}
.mouse{
    position: absolute;
    bottom: 5rem;
    left: 50%;
    transform: translateX(-50%);
}
.style{
    padding: 10.5rem 0;
}
.style-wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:5rem 7rem;
    
}
.style{
    position: relative;
}
.style-item{
    width: 100%;
}
.style-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slyle-right{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    left: 0;
    top: 10.5rem;
}
.slyle-left{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    position: absolute;
    right: 0;
    top: 10.5rem;
}
.style-item{
    position: relative;
}
.slyle-right img{
    width: 14rem;
    height: 40rem;
}
.slyle-left img{
    width: 14rem;
    height: 39.5rem;
}
.style-item__content{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    border: 0.1rem solid rgba(255, 255, 255, 0.5);;
    padding: 3rem 3.5rem;
}
.style-item__info{
    position: absolute;
    bottom: 3rem;
}
.style-item__info h3{
    font-size: 4rem;
    font-style: normal;
    font-weight: 300;
    line-height: 4rem;
    color: var(--white);
}
.style-item__info h3 span{
    font-weight: 700;
}
.style-item__top{
    display: flex;
    justify-content: space-between;
}
.slyle-btn svg{
    width: 5.2rem;
    height: 5.2rem;
}
.style-num{
     color: var(--yellow);
     font-weight: 300;
     font-size: 3.2rem;
     line-height: 3.2rem;
}
.style-num span{
    font-weight: 600;
}
.news-season{
    padding-bottom: 10.5rem;
    position: relative;
}
.new-season__slider{
    margin-top: 4rem;
}
.new-season__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-suptitle{
    font-size: 3.2rem;
    font-weight: 400;
    color: var(--black);
}
.section-title{
    font-size: 4.8rem;
    font-weight: 600;
}
.catalog-btn{
    padding: 2.5rem 3rem;
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    border: 1px solid var(--black);
    cursor: pointer;
}
.catalog-btn span{
    font-weight: 700;
}
.product-item{
    width: 100%;
    height: 49.7rem;
    position: relative;
}
.product-item__img{
    width: 100%;
    height: 100%;
    position: relative;
}
.product-item__img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, #000 11.57%, rgba(0, 0, 0, 0.00) 55.33%);
}
.product-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-item__content{
    position: absolute;
    top: 1rem;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.5);
    z-index: 777;
    padding: 2.5rem 3rem;
}
.product-item__price{
    color: var(--yellow);
    font-size: 3.6rem;
    line-height: 4.8rem;
    font-weight: 300;
}
.product-item__name{
    font-size: 4rem;
    font-weight: 400;
    line-height: 4rem;
    color: var(--gray);
}
.product-item__name span{
    font-weight: 700;
    display: block;
}
.catalog-deco1{
    position: absolute;
    top: 20rem;
    left: 0rem;
    width: 13rem !important;
}
.decor-text__collection.mob{
    display: none;
}
.catalog-deco2{
    position: absolute;
    top: 13rem;
    right: -1rem;
    width: 15rem !important;
}
.index-catalog{
    position: relative;
    padding-bottom: 7rem;
}
.index-catalog__info{
    padding-top: 11rem;
    max-width: 95.7rem;
    position: relative;
    padding-left: 4rem;
}
.index-catalog__info::before{
    content: '';
    position: absolute;
    bottom: -7rem;
    left: 0;
    width: 0.1rem;
    height: 67.8rem;
    background-color: var(--black);
}
.index-catalog__title{
    font-size: 12.8rem;
    color: var(--black);
    line-height: 85%;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 6.3rem;
}
.arrow-btn{
    position: absolute;
    right: 17rem;
    bottom: 0rem;
}
.arrow-btn svg{
    width: 11.1rem;
    height: 9.4rem;
}
.yellow-catalog__text{
    color: var(--yellow);
    font-size: 18.1rem;
    line-height: 100%;
}
.cata-dec1{
    position: absolute;
    right: 0;
    top: 2rem;
    width: 50rem;
    height: 20rem;
}
.text-stroke{
    font-weight: 700;
    color: white !important;
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
}
.small{
    font-size: 6.4rem;
    
    display: block;
}
.gallery-catalog{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 96rem;
    height: 106rem;
}
.catalog-btn__big{
    font-size: 4rem;
    color: var(--black);
    font-weight: 300;
    text-transform: uppercase;
    padding: 4rem;
    border: 1px solid var(--black);
}
.catalog-btn__big span{
    font-weight: 700;
}
.opt{
    position: relative;
    background-color: var(--bg);
    padding: 7.5rem 0;
    overflow: hidden;
}
.opt-wrapper{
    position: relative;
    z-index: 777;
}
.opt-bg{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-title-b{
    font-size: 4.8rem;
    font-weight: 300;
    line-height: 100%;
    text-align: center;
    color: var(--white);
    margin-bottom: 5rem;
}
.section-title-b span{
    font-weight: 600;
}
.opt-bg.mobile{
    display: none;
}
.wrapper{
    overflow: hidden;
}
.opt-title{
    font-size: 5.6rem;
    line-height: 100%;
    font-weight: 400;
    color: var(--white);
}
.opt-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.opt-title .yel-span{
    color: var(--yellow);
    font-size: 4.8rem;
    display: block;
    line-height: 100%;
}
.big-span{
    font-size: 7.1rem;
    line-height: 100%;
    display: block;
    color: var(--white);
}
.txt-span{
    line-height: 100%;
}
.accent-span{
    font-weight: 700;
}
.opt-advantages{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 4rem 0;
    max-width: 95.9rem;
    width: 100%;
}
.advnatage-item{
    border: 1px solid #FFF;
    height: 18.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
}
.advnatage-item span{
    font-weight: 700;
}
.advnatage-item:nth-child(1){
    width: 36.9rem;
}
.advnatage-item:nth-child(2){
    width: 55rem;
}
.advnatage-item:nth-child(3){
    width: 55rem;
}
.advnatage-item:nth-child(4){
    width: 36.9rem;
}
.opt-conditions{
    background-color: var(--bg);
    padding-bottom: 12rem;
    position: relative;
}
.opt-cobditions__inner{
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 7;
}
.opt-cobditions__item{
    position: relative;
    width: 48rem;
    height: 40rem;
}
.opt-cobditions__item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.opt-cobditions__content{
    position: absolute;
    top: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    bottom: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 3rem 3.2rem 3rem 3rem;
}
.opt-conditions__info{
    position: absolute;
    bottom: 3rem;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 100%;
    color: var(--white);
}
.opt-conditions__info span{
    font-weight: 700;
}
.conditions-decor1{
    position: absolute;
    width: 13.7rem;
    height: 20rem;
    left: 0;
    top: 0;
}
.conditions-decor2{
    position: absolute;
    width: 11.6rem;
    height: 20rem;
    right: 0;
    bottom: -5rem;
    z-index: 11;
}
.opt-stages{
    position: relative;
    background-color: var(--bg);
    padding-bottom: 13rem;
}
.opt-stages__inner{
    display: flex;
    gap: 3.66rem;
    position: relative;
    z-index: 7;
}
.opt-stages__item{
    width: 35.2rem;
    height: 27.4rem;
    border: 0.1rem solid var(--white);
    background: #282525;
    padding: 3rem 3rem 2.5rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.opt-stages__item::before{
    content: '';
    position: absolute;
    right: -3.8rem;
    top: 50%;
    transform: translateY(-50%);
    width: 3.7rem;
    height: 1px;
    background-color: #fff;
    opacity: 1;
}
.opt-stages__item:last-child:before{
    display: none;
}
.opt-stages__item__top{
    display: flex;
    justify-content: space-between;
}
.opt-stages__item-num{
    font-size: 4.8rem;
    line-height: 4rem;
    font-weight: 300;
    color: var(--yellow);
}
.opt-stages__item-num span{
    font-weight: 700;
}
.opt-stages__item-info{
    font-size: 4rem;
    font-weight: 400;
    line-height: 3.6rem;
    color: var(--white);
}
.opt-stages__item-info span{
    font-weight: 700;
}
.opt-stages__item:last-child{
    background-color: var(--white);
}
.opt-stages__item:last-child .opt-stages__item-info{
    color: var(--black);
}
.stages-dec1{
    position: absolute;
    width: 25.5rem;
    height: 52.4rem;
    left: 0;
    bottom: 0.5rem;
}
.stages-dec2{
    position: absolute;
    width: 25.5rem;
    height: 52.4rem;
    right: 0;
    bottom: 0.5rem;
    z-index: 11;
}
.opt-stages__item:first-child .opt-stages__item-img{
    width: 17.9rem;
    height: 13.7rem;
}
.opt-stages__item:nth-child(2) .opt-stages__item-img{
    width: 15.4rem;
    height: 11.1rem;
}
.opt-stages__item:nth-child(3) .opt-stages__item-img{
    width: 9rem;
    height: 11.4rem;
}
.opt-stages__item:nth-child(4) .opt-stages__item-img{
    width: 12.6rem;
    height: 12.6rem;
}
.stages-cloud{
   position: absolute;
   bottom: -20rem;
   right: 0;
   z-index: 1;
}
.about-us{
    position: relative;
    background-color: var(--bg);
    padding-bottom: 10.5rem;
}
.about-cloud{
    position: absolute;
    top: 0;
    left: 0;
    width: 57.2rem;
    height: 116.9rem;
}
.about-rec{
    position: absolute;
    right: 0;
    bottom: 15rem;
    width: 9.8;
    height: 34.5rem;
}
.policy-section{
    position: relative;
    z-index: 777;
}
.about-us__top{
    display: flex;
    justify-content: space-between;
}
.title-block.wh{
    color: var(--white);
}
.section-suptitle.wh{
    color: var(--white);
}
.about-top__img svg{
    width: 11.1rem;
    height: 7.9108rem;
}
.about-us__top{
    margin-bottom: 4rem;
}
.about-us__text{
    color: var(--white);
    font-size: 3.2rem;
    font-weight: 400;
}
.about-us__text span{
    color: var(--yellow);
}
.med{
    font-weight: 500;
}
.about-us__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 5.5rem;
}
.about-us__item{
    width: 48rem;
    height: 55rem;
    border: 0.1rem solid var(--white);
    padding: 4rem 3.5rem;
}
.about-us__item-img{
    margin-bottom: 3rem;
}
.about-us__item-title{
    color: var(--yellow);
    font-size: 3.6rem;
    line-height: 100%;
    margin-bottom: 2rem;
    font-weight: 700;
}
.about-us__item-text{
    font-size: 2.4rem;
    color: var(--white);
}
.about-us__item:nth-child(1) svg{
    width: 11.4rem;
    height: 11.4rem;
}
.about-us__item:nth-child(2) svg{
    width: 9rem;
    height: 11.4rem;
}
.about-us__item:nth-child(3) svg{
    width: 8.5rem;
    height: 11.4rem;
}
.catalog-btn__big{
    display: none;
}
.catalog-btn__big.desk{
    display: block;
}
.collection{
    background-color: var(--bg);
    padding-bottom: 15rem;
    position: relative;
}
.collection-dec{
    position: absolute;
    right: 0;
    bottom: 15rem;
    width: 12rem;
    height: 20rem;
}
.decor-text__collection{
    position: absolute;
    bottom: 9rem;
    width: 192rem;
    height: 59.3rem;
}
.collection-title-b img{
   width: 152rem;
   text-align: center;
   height: 20.8rem;
}
.collection-wrapper{
    position: relative;
    z-index: 7;
}
.collection-title-y{
    font-size: 22rem;
    color: var(--yellow);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -3rem;
    position: relative;
}
.collection-title-y::before{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 64.3rem;
    height: 0.2rem;
    background-color: var(--white);
}
.collection-title-w{
    font-size: 22rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    margin-top: -3rem;
    text-align: right;
    position: relative;
}
.collection-title-w::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 76.2rem;
    height: 0.2rem;
    background-color: var(--white);
}
.collection-btn{
    margin-top: -7rem;
    padding: 4rem;
    border: 0.1rem solid var(--white);
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--white);
    cursor: pointer;
    position: relative;
    z-index: 77;
}
.collection-arrow svg{
    position: absolute;
    width: 7.7rem;
    height: 7.2rem;
    left: 59rem;
    bottom: -5rem;
    z-index: 1;
}
.collection-btn span{
    font-weight: 700;
}
.adavantages{
    background-color: var(--bg);
    padding-bottom: 5.5rem;
    position: relative;
}
.adavantage-dec1{
    position: absolute;
    top: -5rem;
    left: 0;
    width: 10.2rem;
    height: 24.9rem;
}
.adavantage-dec2{
    position: absolute;
    right: 0;
    bottom: 15rem;
    width: 12.7rem;
    height: 27.7rem;
}
.adavantages-inner{
    position: relative;
    z-index: 111111;
}
.adavantages-inner-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}
.adavantages-item{
    width: 67.4rem;
    padding-bottom: 4rem;
    text-align: center;
    position: relative;
}
.adavantages-item.center{
    margin: 5rem auto;
}
.adavantages-item::before{
    content: '';
    position: absolute;
    width: 19.2rem;
    height: 0.18rem;
    opacity: 0.3;
    background-color: #fff;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.adavantages-item-num{
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--yellow);
    margin-bottom:3rem;
}
.adavantages-item-name{
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    color: var(--white);
}
.adavantages-item-text{
    font-size: 2rem;
    font-weight: 400;
    color: var(--white);
}
.why{
    background-color: var(--bg);
    position: relative;
    padding-bottom: 10.5rem;
}
.why-clouds{
    top: -73rem;
    position: absolute;
    width: 192rem;
    height: 189.3rem;
}
.dec-why{
    position: absolute;
    right: 0;
    bottom: 7rem;
    width: 12.5rem;
    height: 34.4rem;
}
.why-inner{
    display: flex;
}
.why-inner{
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.7rem;
}
.why-item{
    width: 48.2rem;
    height: 40.5rem ;
    border: 0.1rem solid var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-block{
    text-align: center;
}
.why-block__img{
    margin-bottom: 4.1rem;
}
.why-title{
    font-size: 3.6rem;
    line-height: 100%;
    color: var(--white);
}
.why-title span{
    font-weight: 700;
}
.why-item:nth-child(1) .why-block__img svg{
    width: 11.4rem;
    height: 11.4rem;
}
.why-item:nth-child(2) .why-block__img svg{
    width: 10.8rem;
    height: 11.4rem;
}
.why-item:nth-child(3) .why-block__img svg{
    width: 11.4rem;
    height: 11.4rem;
}
.why-item:nth-child(4) .why-block__img svg{
    width: 12.8rem;
    height: 11.4rem;
}
.why-item:nth-child(5) .why-block__img svg{
    width: 8.6rem;
    height: 11.4rem;
}
.contacts{
    background-color: var(--bg);
    padding-bottom: 17.5rem;
}
.contacts-container{
    display: flex;
}
.contacts-item{
    width: 50%;
    height: 42rem;
    padding: 2rem;
    border: 1px solid #FFF;
    box-shadow: 0rem 0rem 12.5rem 0rem rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts-item.second{
    border-left: none;
}
.contacts-item img{
    width: 100%;
    height: 100%;
}
.conatcst-item__content{
    position: absolute;
    display: flex;
    flex-direction: column;
}
.contacts-title{
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.8rem;
    color: var(--white);
}
.contact{
    color: var(--white);
    font-weight: 2.4rem;
    margin-bottom: 2.5rem;
}
.contact:last-child{
    margin-bottom: 0;
}
.contact span{
    color: var(--yellow);
    font-weight: 700;
}
.contacts-descr{
    font-size: 3.2rem;
    color: var(--white);
    margin-bottom: 4rem;
}
.contacts-descr span{
    color: var(--yellow);
}
.conatcst-item__box{
    width: 52.5rem;
}
.contacts-btn{
    padding: 2.5rem 3rem;
    border: 0.1rem solid #E7CE79;
    box-shadow: 0rem 0rem 7.5rem 0rem rgba(231, 206, 121, 0.75);
    text-transform: uppercase;
    font-size: 2.4rem;
    font-weight: 300;
    color: var(--white);
}
.contacts-btn span{
    font-weight: 700;
}


/* main  end*/

/* footer start */

.footer{
    padding: 7rem 0;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
}
.footer-nav__item{
    font-weight: 700;
    line-height: 90%;
    color: var(--black);
}
.footer-nav__list{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    width: 8.8rem;
    align-items: flex-end;
}
.footer-nav__list-title{
    margin-bottom: 1rem;
}
.footer-nav_link{
    text-align: right;
    font-weight: 400;
    line-height: 90%;
    color: var(--black);
}
.logo.bk p{
    color: var(--black);
}
.logo.bk img{
    width: 7.5rem;
    height: 7.3rem;
}
.nav-list.black a{
    color: var(--black);
}


/* footer end */

/* Modal start */

.application-modal {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 77777777777;
}
.modal-content {
    /* margin: 15% auto; */
    width:67.3rem;
    position: relative;
}
.close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3.6rem;
    cursor: pointer;
    color: var(--white);
}
.modal-content h5{
    font-size: 3.2rem;
    font-weight: 400;
    text-align: center;
    color: var(--white);
}
.modal-content h3{
    font-size: 6.4rem;
    font-weight: 700;
    text-align: center;
    margin-top: -2rem;
    color: var(--white);
    margin-bottom: 5rem;
}
.modal-form{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
.modal-input{
    padding: 2.5rem 5rem;
    border: 0.1rem solid var(--white);
}
.modal-input::placeholder{
    text-transform: uppercase;
}
.modal-btn{
    margin-top: 2.5rem;
    padding: 2.5rem 5rem;
    background-color: var(--white);
    color: var(--black);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}
.cloud-main-mob{
    display: none;
}
.modal-dec1{
    position: absolute;
    bottom: 12rem;
    left: 0;
    width: 16.1rem;
    height: 52.5rem;
}
.modal-dec2{
    position: absolute;
    top: 12rem;
    right: 0;
    width: 12.7rem;
    height: 27.7rem;
}
/* Modal end */

/* Policy srart */

.policy-section{
   padding: 15rem 0;
}
.main.policy{
    background-color: var(--bg);
}
.policy-title{
    font-size: 9.6rem;
    font-weight: 300;
    line-height: 100%;
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 7.5rem;
}
.policy-title span{
    display: block;
    font-weight: 700;
}
.policy-block-title{
    font-size: 3.2rem;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    font-weight: 700;
    color: var(--white);
}
.policy-block-text.margin{
    margin-bottom: 2.5rem;
}
.policy-block{
    margin-bottom: 5rem;
}
.policy-block-text{
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 300;
}
.main-men__mobile{
    display: none;
}
.policy-list{
    margin-bottom: 2.5rem;
}
.policy-list li{
    list-style: inside;
    font-size: 2.4rem;
    color: var(--white);
    font-weight: 300;
}
.main{
    position: relative;
}
.policy-cloud1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
}
.policy-cloud2{
    position: absolute;
    top: auto;
    bottom: 0;
    width: 100%;
    background-size: cover;
}
.main{
    height: 100%;
}
.polucy-decor1{
    position: absolute;
    right: 0;
    top: 50rem;
    width: 12.2rem;
    height: 145.9rem;
}
.polucy-decor2{
    position: absolute;
    top: 270rem;
    width: 13.9rem;
    height: 145.9rem;
}
.policy-decor3{
    position: absolute;
    bottom: 7.8rem;
    left: 0;
    width: 13.1rem;
    height: 20rem;
}
/* Policy end */

/* Catalog start */

.nav-list.black a.active{
    border-bottom: 0.1rem solid var(--black);
}
.header-menu.active .nav-list.black a{
    color: var(--white);
}
.header-menu.active .nav-list.black a.active{
    border-bottom: 0.1rem solid var(--white);
}
.header-info__tel.black p{
    color: var(--black);
}
.logo.black p{
    color: var(--black);
    font-size: 3.7rem;
}
.logo.black img{
    width: 11.6rem;
    height: 11.4rem;
}
.logo.black-page p{
    color: var(--black);
    font-size: 2.4rem;
}
.logo.black-page img{
    width: 7.5rem;
    height: 7.3rem;
}
.catalog-section{
    padding: 20rem 0 15rem;
}
.catalog-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-filter{
    display: flex;
    align-items: center;
    gap: 3rem;
}
.page-suptitile{
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: var(--black);
}
.page-title{
    font-size: 3.6rem;
    font-weight: 700;
    color: var(--black);
    text-transform: uppercase;
}
.filter-btn svg{
    width: 4rem;
    height: 4rem;
}
.catalog-filter p{
    font-size: 2rem;
    text-decoration-line: underline; 
    text-underline-offset: 0.5rem;
}
.catalog-top{
    margin-bottom: 3.5rem;
}
.product-item{
    width: 36.8rem;
    height: 49.7rem;
    cursor: pointer;
}
.swiper-slide .product-item{
    width: auto;
    height: auto;
}
.product-item__info{
    display: flex;
    flex-direction: column;
}
.catalog-wrapper .product-item__name{
    font-size: 3.2rem;
    line-height: 100%;
}
.product-item__price{
    order: 1;
    font-size: 2.4rem;
}
.product-btns{
    display: flex;
    align-items: center;
}
.col{
   font-size: 2.4rem;
   font-weight: 500;
   color: var(--yellow);
}
.product-item__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.product-item__inner{
    position: absolute;
    bottom: 3rem;
}
.product-item__descr-size.none{
    opacity: 0.2;
}
.cart-buy{
    padding: 1.5rem 4rem;
    font-size: 2rem;
    color: var(--black);
    background: var(--yellow);
    box-shadow: 0rem 0rem 1.5rem 0rem var(--yellow);
    font-weight: 700;
    text-transform: uppercase;
}
.product-cart-btns{
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
}
.product-item__inner{
    padding-right: 1.5rem;
    width: 90%;
}
.product-minus{
    display: none;
}
.col{
    display: none;
}
.product-btns.active .product-minus{
    display: block;
    transition: all 0.3s;
}
.product-btns.active .col{
    display: block;
    transition: all 0.3s;
}
.product-cart-btns.active{
    display: flex;
    transition: all 0.3s;
}
.catalog-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.catalog-clouds{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.main{
    position: relative;
}
.cart-section{
   padding: 20rem 0 3.5rem;
}
.cart-slider{
    margin-top: 3.5rem;
}
.new-season__slider .product-carts-in{
    display: none;
}
.cart-slider .product-btns{
    display: none;
}
.product-carts-in{
    display: flex;
    align-items: center;
}
.product-carts-in .product-minus{
    display: block;
}
.product-carts-in .col{
    display: block;
}
.cart-slider .product-item__name{
    font-size: 3rem;
}
.product-minus,
.product-plus,
.product-plus-in{
    width: 4rem;
    height: 4rem;
    border: 1px solid var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-minus{
     padding-bottom: 0.4rem;
}
.product-btns, .product-carts-in{
    align-items: center;
    gap: 1rem;
}
.product-minus svg{
   width: 1.8rem;
   height: 0.2rem;
}
.product-plus img{
    width: 1.7rem;
    height: 1.7rem;
}
.product-plus-in img{
    width: 1.7rem;
    height: 1.7rem;
}
.cart-del{
    width: 6.5rem;
    height: 6.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid var(--white);
}
.cart-del img{
    width: 2.9rem;
    height: 3.4rem;
}
.product-item .product-item__name{
    font-size: 3rem;
}
.cart-buy {
    padding: 1.9rem 4rem;
}
.product-cart-btns.active{
    margin-top: 2rem;
}
.new-season__slider .product-carts-in{
    display: none;
}
.product-btns .product-minus{
    display: none;
}
.catalog-wrapper .product-carts-in{
    display: none;
}
.offer-inner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.offer{
    padding-bottom: 13.5rem;
    position: relative;
    z-index: 777;
}
.offer-item{
    border: 0.1rem solid #282525;
    box-shadow: 0rem 0rem 10rem 0rem rgba(0, 0, 0, 0.10);
    padding: 3.5rem 5rem;
}
.offer-item-title{
    font-size: 2.4rem;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 2.5rem;
}
.form-adresss,
.offer-buy{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    justify-content: space-between;
}
.small-input{
    width: 19rem !important;
}
.area{
    resize: none;
    outline: none;
}
.time-delivery{
    margin-bottom: 3rem;
}
.time-delivery span{
    color: var(--black);
}
.time-delivery span{
    font-weight: 700;
}
.input-form{
    padding: 1.8rem 3rem;
    width: 100%;
    border: none;
    background-color: rgba(40, 37, 37, 0.1);
}
.full-sum{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}
.full-sum__title{
    font-size: 2rem;
    color: var(--black);
    font-weight: 500;
    opacity: 0.5;
}
.full-sum__num{
    font-size: 2rem;
    color: var(--black);
    font-weight: 500;
    opacity: 0.5;
}
.itoz-sum__title{
    font-size: 2rem;
    color: var(--black);
    font-weight: 600;
}
.itoz-sum__num{
    font-size: 2rem;
    color: var(--yellow);
    font-weight: 600;
}
.buy-btn{
    width: 100%;
    padding: 2rem;
    font-size: 2.4rem;
    font-weight: 600;
    background-color: var(--yellow);
    color: var(--white);
    margin-top: 2rem;
    box-shadow: 0 0 7.5rem 0 rgba(231, 206, 121, 0.25);
}
.descr-offer{
    text-align: center;
    font-size: 2rem;
    color: var(--black);
    margin-top: 2.5rem;
}
.descr-offer span{
    font-weight: 600;
}

/* Cart end */

/* Product start */

.product-section{
    padding-top: 20rem;
}

.contacts.white{
    background-color: transparent;
    box-shadow: 0;
}
.contacts.white .contacts-item{
    box-shadow: none;
    border: 1px solid var(--black);
}
.contacts.white .contacts-item.second{
    border-left: none;
}

.contacts.white .contacts-descr{
    color: var(--black);
}
.contacts.white .contacts-descr span{
    color: var(--black);
    font-weight: 600;
}
.contacts.white .contacts-btn{
    box-shadow: none;
    border: 0.1rem solid var(--black);
    color: var(--black);
}
.breadcrambs{
    margin-bottom: 3.5rem;
    font-size: 2rem;
    opacity: 0.5;
    color: var(--black);
}
.breadcrambs a{
    font-size: 2rem;
    opacity: 0.5;
    color: var(--black);
}
.last-bred{
    font-weight: 500;
}
.product-item__wrapper{
    display: flex;
    justify-content: space-between;
    gap: 10.5rem;
}
.product-item__slider{
    width: 70rem;
    height: 57.5rem;
}
.slider{
    width: 70.1rem;
    height: 53.5rem;
    margin-bottom: 2.5rem;
}
.slick-slide.slick-current img{
    opacity: 1;
}
.big-slide img{
    width: 70.1rem;
    height: 53.5rem;
    object-fit: cover;
}
.small-slide img{
    width: auto;
    height: 10.7rem;
    opacity: 0.5;
}
.thumbnails{
    width: 70.1rem;
    height: 10.7rem;
}
.product-item__descr{
    width: 70.5rem;
}
.product-item__descr-title{
    font-size: 7.5rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 2rem;
}
.product-item__descr-title span{
    font-weight: 700;
}
.product-item__descr-price{
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 3.5rem;
}
.product-item__descr-colors-title{
    font-size: 3.2rem;
    color: var(--black);
    opacity: 0.5;
    margin-bottom: 1.5rem;
}
.product-item__descr-colors-wrapper{
    display: flex;
    gap: 2.5rem;
}
.product-item__descr-color{
    width: 5rem;
    height: 5rem;
    background-color: #38373F;
    cursor: pointer;
}
.product-item__descr-colors{
    margin-bottom: 3.5rem;
}
.product-item__descr-sizes-title{
    font-size: 3.2rem;
    color: var(--black);
    opacity: 0.5;
    margin-bottom: 1.5rem;
}
.sizes-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.product-item__descr-size{
    width: 12.3rem;
    height: 5.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    border: 1px solid var(--black);
    cursor: pointer;
}
.sizes-wrapper{
    margin-bottom: 4.5rem;
}
.product-item__descr-btns{
    display: flex;
    justify-content: space-between;
}
.product-section{
    margin-bottom: 10.5rem;
}
.cart-add__btn{
   width: 33.1rem;
   height: 7.4rem;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 2rem;
   text-transform: uppercase;
   border: 1px solid var(--black);
   margin-bottom: 2.5rem;
}
.cart-add__btn span{
    font-weight: 700;
    margin-left: 0.5rem;
}
.cart-add__btn.yellow{
    background-color: var(--yellow);
    color: var(--white);
    font-weight: 700;
    border: none;
}
.contacts.white{
    position: relative;
    z-index: 777;
}
.contacts-btn{
    cursor: pointer;
}
.big-product img{
    width: 100%;
    height: 52.5rem;
    object-fit: cover;
}
.gallery-top{
    margin-bottom: 2.5rem;
}



/* Product end */

@media (max-width: 1024px){
  html{
    font-size: calc(100vw / 768 * 10);
  }
  .container{
    padding: 0 3rem;
  }
  .header-menu{
    display: none;
  }
  .slyle-right{
    display: none;
  }
  .modal-dec1{
    display: none;
}
.modal-dec2{
    display: none;
}
  .style-wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  section {
    overflow: hidden !important;
  }
  .why{
    overflow: visible !important;
  }
 .slyle-left{
    display: none;
 } 
  .cloud-main{
    display: none;
  }
  .cloud-main-mob{
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 70rem;
  }
  .main-title{
    font-size: 8rem;
  }
  .main-title::after{
    font-size: 8rem;
  }
  .main-section{
    min-height: 100svh;
  }
  .main-title span{
    font-size: 4rem;
  }
  .main-section__info{
    padding-top: 20rem;
    padding-left: 15rem;
  }
  .mouse{
    display: none;
  }
  .header{
    padding-top: 3rem;
    padding: 3rem 3rem 0rem;
  }
  .main-title::before{
    display: none;
  }
  .main-title::after{
    left: -8rem;
  }
  .line-one{
    top: 15rem;
    height: 10.6rem;
  }
  .catalog-btn{
    display: none;
  }
  .title-block{
    text-align: center;
    width: 100%;
  }
  .catalog-deco1{
    display: none;
  }
  .catalog-deco2{
    display: none;
  }
  .gallery-catalog{
    display: none;
  }
  .index-catalog__info::before{
    display: none;
  }
  .index-catalog__title{
    text-align: center;
  }
  .index-catalog__info{
    padding-left: 0;
    padding-top: 0;
  }
  .catalog-btn__big{
    margin: auto;
  }
  .cata-dec1 {
        right: -10rem;
        top: -8rem;
        width: 37rem;
        height: 15rem;
    }
    .catalog-btn__big{
        display: block;
        margin: auto;
    }
    .arrow-btn {
        position: absolute;
        right: -5rem;
        bottom: -4rem;
    }
    .opt-inner{
        flex-direction: column;
        gap: 3.5rem;
    }
    .advnatage-item{
        width: 100% !important;
    }
    .opt-cobditions__inner{
        flex-direction: column;
        width: 100%;
        gap: 3.5rem;
    }
    .opt-cobditions__item{
        width: 100%;
    }
    .conditions-decor1{
        display: none;
    }
    .conditions-decor2{
        display: none;
    }
    .stages-dec1{
        display: none;
    }
    .stages-dec2{
        display: none;
    }
    .stages-cloud{
        display: none;
    }
    .opt-stages__item{
        width: 100%;
    }
    .opt-stages__inner{
        flex-direction: column;
    }
    .opt-stages__item::before{
        bottom: -2rem;
        left: 50%;
        transform: translateX(-50%);
        transform: rotate(90deg);
        top: auto;
    }
    .about-cloud{
        display: none;
    }
    .title-block.wh{
        text-align: left;
    }
    .about-us__inner{
        flex-direction: column;
        gap: 3.5rem;
    }
    .about-us__item{
        width: 100%;
    }
    .about-rec{
        display: none;
    }
    .adavantage-dec1{
        display: none;
    }
    .adavantage-dec2{
        display: none;
    }
    .why-item{
        width: 100%;
    }
    .dec-why{
        display: none;
    }
    .contacts-container{
        flex-direction: column;
        width: 100%;
    }
    .contacts-item{
        width: 100%;
    }
    .contacts-item.second{
        border-top: 0;
        border-left: 0.1rem solid var(--white);
    }
    .collection-dec{
        display: none;
    }
    .collection-title-b img{
        width: 100%;
        height: auto;
    }
    .decor-text__collection{
        width: 100%;
        height: auto;
    }
    .collection-btn{
        font-size: 2.3rem;
        margin-top: 0;
    }
    .collection-title-y::before{
        width: 27rem;
    }
    .collection-title-w::before{
        width: 33rem;
    }
    .collection-title-y{
        font-size: 10rem;
    }
    .collection-title-w{
        font-size: 10rem;
    }
    .footer{
        padding: 5rem 3rem;
    }
    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        cursor: pointer;
        position: relative;
        z-index: 7777777;
    }
    .hamburger span{
        width: 5rem;
        height: 0.2rem;
        background-color: var(--white);
        border-radius: 0.1rem;
    }
    .header-menu{
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transform: translateY(-100%);
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 777;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
        transition: all 0.5s ease;
    }
    .header-menu.active{
        transform: translateY(0%);
        transition: all 0.5s ease;
    }
    .nav{
        flex: 0;
    }
    .header-info{
        flex: 0;
        padding-top: 5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo{
        position: relative;
        z-index: 7777777;
    }
    .nav-list{
        flex-direction: column;
    }
    .nav-list__link{
        font-size: 3rem;
    }
    .header-info__tel a{
        font-size: 3rem;
    }
    .header-info__tel p{
        font-size: 2rem;
        padding-top: 1rem;
        text-align: center;
    }
    .cart-btn, .favor-btn {
        width: 6rem;
        height: 6rem;
    }
    .cart-btn img, .favor-btn img {
        width: 3rem;
        height: 3rem;
    }
    .catalog-btn__big.mobile{
        display: block;
        margin-top: 3.5rem;
    }
    .policy-section{
        padding-top: 10rem;
    }
    .policy-title{
        font-size: 3rem;
    }
    .policy-block-title{
        font-size: 2rem;
    }
    .policy-title{
        margin-bottom: 3rem;
    }
    .policy-block-text{
        font-size: 1.6rem;
    }
    .policy-list li{
        font-size: 1.6rem;
    }
    .polucy-decor1{
        display: none;
    }
    .polucy-decor2{
        display: none;
    }
    .policy-decor3{
        display: none;
    }
    .catalog-section{
        padding-top: 15rem;
    }
    .hamburger.active span:nth-child(1){
        transform: translate(0rem, 0.9rem) rotate(45deg);
        transition: all 0.3s ease-in-out;
    }
    .hamburger.active span:nth-child(2){
        opacity: 0;
    }
    .hamburger.active span:nth-child(3){
        transform: translate(0rem, -2.5rem) rotate(-45deg);
        transition: all 0.3s ease;
    }
      .hamburger.black span{
        background-color: var(--black);
      }
      .hamburger.active span{
        background-color: var(--white);
        transition: all 0.3s ease;
      }
    .catalog-wrapper .product-item{
        width: 48%;
    }
    .page-suptitile{
        font-size: 1.5rem;
    }
    .page-title{
        font-size: 3rem;
    }
    .catalog-filter p{
        font-size: 1.6rem;
    }
    .catalog-filter{
        gap: 1.5rem;
    }
    .cart-buy{
        font-size: 1.6rem;
    }
    .cart-del{
        width: 5.5rem;
        height: 5.5rem;
    }
    .cart-del img {
        width: 2.9rem;
        height: 3.4rem;
    }
    .product-item__name{
        font-size: 2.6rem !important;
    }
    .cart-section {
        padding: 13rem 3rem 3.5rem;
    }
    .offer-inner {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
    .small-input{
        width: 100% !important;
    }
    .offer{
        padding-bottom: 10rem;
    }
    .product-item__wrapper{
        flex-direction: column;
    }
    .product-item__descr{
        width: 100%;
        margin-top: 5rem;
    }
    .product-section{
        margin-top: 15rem;
    }
    .product-item__descr-title{
        font-size: 5.5rem;
    }
    .product-item__descr-price{
        margin-bottom: 2rem;
    }
    .contacts.white .contacts-item.second {
        border-left: 1px solid var(--black);
    }
    .contacts.white .contacts-item {
        box-shadow: none;
        border: 1px solid var(--black);
    }
    .product-new__slider .catalog-btn__big.mobile{
        font-size: 2.5rem;
    }
    .product-item__slider{
        width: 100%;
    }

}
@media (max-width: 500px){
  html{
    font-size: calc(100vw / 430 * 10);
  }
 .cart-del img {
     width: 2.9rem;
     height: 3.4rem;
 }
 .main-men__mobile{
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 7;
    width: 42.629rem;
    height: 42.217;
 }
  .logo-img{
    width: 5rem;
    height: 5rem;
  }
  .catalog-wrapper .product-item{
    width: 100%;
    height: 49rem;
}
  .logo p{
    display: none;
  }
  .hamburger span{
    width: 2.7rem;
    height: 0.2rem;
  }
  .hamburger{
    gap: 0.7rem;
  }
  .line-one {
    top: 10rem;
    left: -5rem;
    height: 10.6rem;
}
  .main-title{
    font-size: 5.5rem;
  }
  .main-section__info {
    padding-top: 10rem;
    padding-left: 5rem;
    }
    .main-title::after {
        top: 3rem;
      left: -6rem;
      font-size: 5.5rem;
    }
    .main-title span{
        font-size: 2.7rem;
    }
    .main-btn{
        font-size: 1.4rem;
        padding: 1rem 1.3rem;
    }
    .cloud-main-mob{
        position: absolute;
        bottom: 0;
        right: 0;
        width: 42.8rem;
        height: 71.8rem;
    }
    .cloud-main{
        display: none;
    }
    .cloud-main-mob{
        display: block;
    }
    .main-section{
        min-height: 100svh;
    }
    .style {
        padding: 5rem 0;
    }
    .style-item__info h3 {
        font-size: 2.1rem;
        line-height: 2rem;
    }
    .style-item__content{
        padding: 1.5rem 1.7rem;
    }
    .style-num{
        font-size: 1.7rem;
    }
    .slyle-btn svg {
        width: 2.7rem;
        height: 2.7rem;
    }
    .style-item__info {
        position: absolute;
        bottom: 1.5rem;
    }
    .product-item{
        height: 38.6rem;
        z-index: 1;
    }
    .new-season__wrapper.container{
        padding-right: 0;
    }
    .style-wrapper{
        gap: 2.5rem;
    }
    .section-suptitle{
        font-size: 2.6rem;
    }
    .section-title{
        font-size: 3.8rem;
    }
    .new-season__slider {
        margin-top: 3.5rem;
    }
    .new-season__slider {
     margin-top: 4rem;
    }
    .product-item__price{
        font-size: 2.8rem;
        line-height: 133%;
    }
    .product-item__name{
        font-size: 3.1rem;
        line-height: 100%;
    }
    .text-stroke{
        font-size: 6.8rem;
    }
    .index-catalog__title{
        font-size: 6.8rem;
        margin-bottom: 4rem;
    }
    .yellow-catalog__text{
        font-size: 9.6rem;
    }
    .small {
        font-size: 3.4rem;
        display: block;
    }
    .news-season{
        padding-bottom: 5rem;
        position: relative;
        z-index: 777;
    }
    .catalog-btn__big{
        padding: 2.1rem;
        font-size: 2.1rem;
    }
    .arrow-btn svg {
        width: 5.9rem;
        height: 4.9rem;
    }
    .arrow-btn{
        bottom: -1rem;
    }
    .cata-dec1 {
        right: -11rem;
        top: -5rem;
        width: 23rem;
        height: 10rem;
    }
    .index-catalog{
        padding-bottom: 3.5rem;
    }
    .section-title-b{
        font-size: 3.2rem;
    }
    .opt {
        padding: 4.5rem 0 5rem;
    }
    .opt-title{
        text-align: center;
    }
    .opt-title .yel-span{
        font-size: 3.1rem;
    }
    .big-span{
        font-size: 4.6rem;
    }
    .txt-span{
        font-size: 3.6rem;
    }
    .opt-inner {
        gap: 2.5rem;
    }
    .advnatage-item{
        font-size: 2.7rem;
    }
    .opt-bg{
        display: none;
    }
    .opt-bg.mobile{
        display: block;
    }
    .section-title-b {
        margin-bottom: 3.5rem;
    }
    .opt-conditions__info{
        font-size: 2.7rem;
    }
    .opt-cobditions__content{
        padding: 2.3rem;
    }
    .opt-conditions{
        padding-bottom: 6.4rem;
    }
    .opt-stages__item::before {
        bottom: -4rem;
        left: 50%;
        transform: translateX(-50%) !important;
        top: auto;
        width: 1px;
        height: 3.9rem;
    }
    .opt-stages{
        padding-bottom: 5rem;
    }
    .section-suptitle.wh{
        font-size: 2rem;
    }
    .section-title{
        font-size: 3.2rem;
    }
    .about-top__img svg {
        width: 5.7rem;
        height: 4.7rem;
    }
    .about-us__text{
        font-size: 2rem;
    }
    .about-us__top{
        margin-bottom: 1.5rem;
    }
    .about-us__item:nth-child(1) svg {
        width: 8.7rem;
        height: 8.7rem;
    }
    .about-us__item:nth-child(2) svg {
        width: 6.8rem;
        height: 8.7rem;
    }
    .about-us__item:nth-child(3) svg {
        width: 6.4rem;
        height: 8.7rem;
    }
    .about-us__item-title{
        font-size: 2.7rem;
    }
    .about-us__item-text{
        font-size: 1.8rem;
    }
    .about-us__item{
        height: 42rem;
        padding: 3rem 2.6rem;
    }
    .about-us{
        padding-bottom: 5.5rem;
    }
    .collection-title-y{
        font-size: 5.3rem;
        margin-top: 0;
    }
    .collection-title-w{
        font-size: 5.3rem;
        margin-top: 0;
    }
    .collection-title-y::before {
        width: 15.5rem;
        height: 0.1rem;
    }
    .collection-title-w::before {
        width: 18.4rem;
        height: 0.1rem;
    }
    .collection-btn{
        padding: 1.36rem;
        font-size: 1.4rem;
    }
    .decor-text__collection{
        display: none;
        bottom: 1rem;
    }
    .decor-text__collection.mob{
        display: block;
    }
    .collection{
        padding-bottom: 5.5rem;
    }
    .adavantages-inner-container{
        gap: 3rem;
    }
    .adavantages-item.center {
        margin: 3rem auto;
        width: 100%;
    }
    .adavantages{
        padding-bottom: 3rem;
    }
    .adavantages-item{
        padding-bottom: 1.5rem;
    }
    .why-wrapper{
        position: relative;
        z-index: 7;
    }
    .why-title{
        font-size: 2.7rem;
    }
    .why-item{
        height: 30.7rem;
    }
    .why-item:nth-child(1) .why-block__img svg {
        width: 8.6rem;
        height: 8.6rem;
    }
    .why-item:nth-child(2) .why-block__img svg {
        width: 8.1rem;
        height: 8.6rem;
    }
    .why-item:nth-child(3) .why-block__img svg {
        width: 8.6rem;
        height: 8.6rem;
    }
    .why-item:nth-child(4) .why-block__img svg {
        width: 9.7rem;
        height: 8.6rem;
    }
    .why-item:nth-child(5) .why-block__img svg {
        width: 6.5rem;
        height: 8.6rem;
    }
    .why{
        padding-bottom: 6.5rem;
    }
    .contacts-item{
        height: 32.2rem;
    }
    .contacts-title{
        font-size: 3rem;
    }
    .contact{
        font-size: 1.8rem;
    }
    .contacts-descr{
        font-size: 2.4rem;
    }
    .contacts-btn{
        padding: 1.9rem 2.3rem;
        font-size: 1.8rem;
    }
    .contacts{
        padding-bottom: 9.9rem;
    }
    .logo.black img {
        width: 7rem;
        height: 6.8rem;
    }
    .logo.black{
        align-items: flex-start;
    }
    .nav-list__link{
        font-size: 2rem;
    }
    .header-info__tel a{
        font-size: 2rem;
    }
    .cart-btn, .favor-btn {
        width: 5rem;
        height: 5rem;
    }
    .cart-btn img, .favor-btn img {
        width: 2rem;
        height: 2rem;
    }
    .modal-content{
        padding: 2rem;
        width: 100%;
    }
    .modal-content h3{
        padding-top: 2rem;
        font-size: 4rem;
    }
    .application-modal{
        background-color: rgba(0, 0, 0, 0.95);
    }
    .swiper-slide{
        width: 75%;
    }
    .policy-section{
        padding-top: 10rem;
    }
    .policy-title{
        font-size: 2rem;
    }
    .policy-block-title{
        font-size: 1.6rem;
    }
    .policy-title{
        margin-bottom: 3rem;
    }
    .policy-block-text{
        font-size: 1.4rem;
    }
    .policy-list li{
        font-size: 1.6rem;
    }
    .polucy-decor1{
        display: none;
    }
    .polucy-decor2{
        display: none;
    }
    .policy-decor3{
        display: none;
    }
    .catalog-filter p {
        display: none;
    }
    .catalog-top{
        align-items: flex-end;
    }
    .filter-btn svg {
        width: 4.5rem;
        height: 4.5rem;
    }
    .swiper-slide .product-item__name{
        font-size: 2.3rem !important;
    }
    .swiper-slide .cart-del{
        width: 4.5rem;
        height: 4.5rem;
    }
    .swiper-slide .cart-del img{
        width: 1.9rem;
        height: 2.4rem;
    }
    .swiper-slide .cart-buy {
        padding: 1.2rem 3rem;
    }
    .cart-slider .product-item__name{
        font-size: 2rem !important;
    }
    .cart-slider .product-item__price{
        font-size: 2rem;
    }
    .cart-slider .product-item__content{
        padding: 0 2rem;
    }
    .hamburger.active span:nth-child(1){
        transform: translate(0rem, 0.8rem) rotate(45deg);
        transition: all 0.3s ease-in-out;
    }
    .hamburger.active span:nth-child(2){
        opacity: 0;
    }
    .hamburger.active span:nth-child(3){
        transform: translate(0rem, -1.1rem) rotate(-45deg);
        transition: all 0.3s ease;
    }
    .cart-section{
        padding: 17rem 3rem 5rem;
    }
    .cart-section .page-title{
        text-align: center;
    }
    .offer-item{
        padding: 3.5rem 2.5rem;
    }
    .small-input{
        width: 10rem !important;
    }
    .form-adresss, .offer-buy {
        gap: 1.5rem 0.8rem;
    }
    .input-form{
        padding: 1.1rem 1.5rem;
        font-size: 1.4rem;
    }
    .offer-item-title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .area{
        height: 8rem;
    }
    .full-sum__title{
        font-size: 1.6rem;
    }
    .full-sum__num{
        font-size: 1.6rem;
    }
    .itoz-sum__title{
        font-size: 1.6rem;
    }
    .itoz-sum__num{
        font-size: 1.6rem;
    }
    .descr-offer{
        font-size: 1.6rem;
    }
    .descr-offer br{
        display: none;
    }
    select{
        outline: none;
    }
    input, textarea, select {
        font-size: 1.6rem !important;
    }
    .cart-section{
        padding-right: 0;
    }
    .product-item__slider{
        height: 30rem;
    }
    .product-item__wrapper{
        width: 100%;
    }
    .big-slide{
        width: 100%;
    }
    .thumbnails{
        width: 100%;
    }
    .slider{
        width: 100%;
        height: 30rem;
    }
    .small-slide img{
        height: 5.5rem;
    }
    .big-slide img{
        width: 100%;
        height: 30rem;
    }
    .breadcrambs{
        font-size: 1.2rem;
        margin-bottom: 2.5rem;
    }
    .product-item__wrapper{
        gap: 6rem;
    }
    .product-item__descr-title{
        font-size: 3.9rem;
    }
    .product-item__descr-price{
        font-size: 1.7rem;
        margin-bottom: 1rem;
    }
    .product-item__descr-colors-title{
        font-size: 1.7rem;
    }
    .product-item__descr-color{
        width: 2.6rem;
        height: 2.6rem;
    }
    .product-item__descr-colors{
        margin-bottom: 1.8rem;
    }
    .product-item__descr-sizes-title{
        font-size: 1.7rem;
    }
    .product-item__descr-size{
        width: 6.4rem;
        height: 3rem;
        font-size: 1.4rem;
    }
    .sizes-wrapper{
        margin-bottom: 2.3rem;
    }
    .cart-add__btn{
       width: 18.2rem;
       height: 4.8rem;
       font-size: 1.3rem;
    }
    .product-item__descr-btn p{
        font-size: 1.1rem;
    }
    .cart-add__btn{
        margin-bottom: 1rem;
    }
    .product-section{
        margin-bottom: 6.5rem;
    }
    .product-new__slider .catalog-btn__big.mobile{
        margin-right: 5rem;
    }
    .contacts-item{
        padding: 2rem 1.5rem;
    }
    .breadcrambs a{
        font-size: 1.2rem;
    }
    .contacts.white .contacts-item.second{
        border-top: none;
    }
}
